body
	background-color black
	color white
	font-family sans-serif
	overflow hidden
	&.configuring
		overflow auto
.notransition
	transition none !important
	-webkit-transition none !important
#dice
	> ul
		text-align center
		list-style-type none
		margin 0
		padding 0
		> li
			display inline-block
			vertical-align top
			width 30%
			margin 0.2em
			padding 0.2em
			.configuring &
				outline 1px dashed #666
			.image
				display inline-block
				position relative
				width 100%
				.aspect
					padding-top 100%
				.content
					position absolute
					padding 1em
					left 0
					right 0
					top 0
					bottom 0
					background-color #c00
					color white
					border 0.5em solid #d66
					border-radius 1em
					transform-origin center center
					-webkit-transform-origin center center
					transition transform 0.5s
					-webkit-transition -webkit-transform 0.5s
					.configuring &
						cursor move
					.sides
						position absolute
						right 0.5em
						bottom 0.5em
						opacity 0.5
					svg
						display none
						width 100%
						height 100%
						circle
							fill white
					.value
						font-size 3em
						color white
						font-weight bold
						text-align center
						line-height 1
						.default-size
							font-size 12pt
			&.light .image .content svg circle
			&.light .image .content .value
				fill black
				color black
			> .label
				position relative
				font-weight bold
				text-align center
			> .hold
				position relative
				z-index 1
			> .configuration
				position relative
				z-index 1
				text-align left
				list-style-type none
				margin 0
				padding 0
				display none
				.configuring &
					display block
	input.sides
		width 3em
	input.label
		width 10em
#history
	position absolute
	left 0
	bottom 0
	width 10em
	> ol
		overflow auto
		height 5em
		> li
			> ol
				display inline
				list-style-type none
				margin 0
				padding 0
				padding-left 1em
				&:before
					content '('
					display inline
				&:after
					content ')'
					display inline
				> li
					margin 0 0.2em
					padding 0
					display inline
					&:after
						content ','
					&:last-child:after
						content ''
					&.hold
						opacity 0.5
#total
	position fixed
	right 0
	top 0
	font-size 3em
	transition color 0.5s
	-webkit-transition color 0.5s
#sound
	display none
